* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	--white: #fff;
	--black: #000;
	--brand: orange;
	--accent: rgb(109, 11, 109);
	--error: red;

	--transition: .4s ease-in-out;
}

ul,
li {
	list-style: none;
}